<div class="col-xs-5">
<% for (i=0;i<labs.length;i++){
if (i == Math.floor(labs.length/2)){%>
</div><div class="col-xs-2"></div><div class="col-xs-5"> <%}%>
	<div class="row">
		<h3><i class="icon-lab"></i><%= labs[i].name %></h3>
		<hr>
		<h5 class="right"><%= formatDate(labs[i].results[0].date) %></h5>
		<hr>
		<% for (j=0;j<labs[i].results.length;j++){%>
		<div class="row lab">
			<div class="col-xs-3">
				<strong><%= labs[i].results[j].name %></strong>
			</div>
			<div class="col-xs-3 value-unit">
			<p><span class="unit"><%= labs[i].results[j].unit %></span><span class="value value-healthy"><%= labs[i].results[j].value %></span></p>
			</div>
			<div class="col-xs-6 slide-unit">
				<div class="min">min</div>
				<div class="percentage"></div>
				<div class="max">max</div>
				<div class="position"></div>
			</div>
		</div>
		<% } %>
	</div>
<%}%>
</div>